* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

button:hover {
    cursor: pointer;
}

.fixedbar {
    width: 100%;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.bg-lightgray {
    border-bottom: 1px solid #CBD6E2;
    background-color: #F5F8FA;
}

/* START CONTAINER1080 */

.container1080 {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    height: 70px;
}

.leftcontent {
    float: left;
}

.container1080 a {
    font-size: 14px;
    font-weight: 400;
    color: #33475B;
    text-decoration: none;
    line-height: 70px;
    padding: 0 16px;
}

#border {
    border-left: 2px solid #CBD6E2;
}

/* END LEFTCONTENT */
/* START RIGHTCONTENT */

.rightcontent {
    float: right;
    line-height: 70px;
}

.rightcontent i {
    padding-right: 25px;
    color: #0AA8C0;
}

#login-button {
    font-size: 13px;
    background: white;
    color: #FF7A59;
    padding: 12px 20px;
    border: 1px solid #FF7A59;
    border-radius: 5px;
}

.rightcontent .orangebutton {
    font-size: 13px;
    background: #FF7A59;
    color: white;
    padding: 12px 20px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 0 8px;
}

/* END RIGHTCONTENT */
/* START SECOND SECTION */

.secondcontainer {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
    height: 70px;
}

#logo1 {
    float: left;
    line-height: 90px;
    height: 70px;
}

nav {
    float: right;
}

nav a {
    font-size: 14px;
    font-weight: 600;
    color: #33475B;
    text-decoration: none;
    line-height: 70px;
    padding: 0 16px;
}

/* THIRD SECTION */

.bg-blue {
    background-color: #425B76;
}

.thirdsection {
    width: 80%;
    max-width: 1080px;
    margin: 0 auto;
}

#bold {
    font-weight: bolder;
}

.thirdsection p {
    font-size: 16px;
    color: white;
    padding: 26px 20px;
}

.left-learnmore {
    float: left;
    width: 88%;
}

.right-learnmore {
    float: right;
    width: 12%;
    line-height: 90px;
}

.whitebutton {
    font-weight: 600;
    color: #425B76;
    background-color: white;
    padding: 12px 24px;
    border: 1px solid #425B76;
    border-radius: 5px;
}

/* START FOURTHSECTION */

.bg-pink {
    background-color: #FFF2EE;  /* REMEMBER TO ASK ABOUT BACKGROUND */
    background-image: url('https://www.hubspot.com/cdn2.hubspot.net/hubfs/53/assets/hubspot.com/home/2019/clouds-desktop.svg');
}

.fourthsection {
    height: 600px;
    max-width: 1080px;
    margin: 0 auto;
}

.maincontent {
    width: 42%;
}

.maincontent .orangebutton {
    font-size: 16px;
    background: #FF7A59;
    color: white;
    padding: 26px 48px;
    border: 1px solid white;
    border-radius: 5px;
}

.maincontent h1 {
    font-weight: 700;
    color: #33475B;
    padding: 100px 0 20px 0;
    font-size: 55px;
}

.maincontent span {
    display: block;
    font-size: 16px;
    color: #33475B;
    margin: 16px 0;
    line-height: 26px;
}

#fourthcontentunderbutton {
    font-size: 12px;
    margin: 24px 200px 24px 0px;
    color: #33475B;
    width: 245px;
    line-height: 17px;
}

/* END FOURTH SECTION */
/* DIV IMMAGINE SFONDO VERDE */

.bg-green {
    background-color: #AFEBE4;
}

.immaginesfondo {
    border-top: 3px solid #33475C;
    border-bottom: 3px solid #33475C;
    height: 80px;
}

/* END IMAGE */
/* START FIFTH SECTION */

.bg-gray {
    background-color: #F5F8FA;
}

.fifthsection {
    width: 80%;
    max-width: 958px;
    height: 1517px; /* HEIGHT DA RIMUOVERE */
    margin: 0 auto;
    color: #33475B;
}

.firstpart {
    text-align: center;
    position: relative;
    padding-bottom: 50px;
    width: 800px;
    margin: 0 auto;
}

#logo2 {
    padding-top: 100px;
}

#logo2 img {
    width: 260px;
}

.textunder h2 {
    color: #33475B;
    margin-bottom: 20px;
    font-size: 32px;
}

.textunder p {
    color: #33475B;
    font-size: 16px;
    margin-top: 16px;
    line-height: 27px;
}

/* END FIRST PART */
/* START SECOND PART */

.secondpart {
    background: white;
    color: #33475B;
    padding: 32px;
    margin-bottom: 32px;
    width: 960px;
    height: 283px;
}

.leftsp {
    float: left;
    padding: 0 80px;
}

.leftsp img {
    display: block;
    width: 152px;
    height: 150px;
    padding-bottom: 20px;
}

.orangebutton {
    font-size: 14px;
    background: #FF7A59;
    color: white;
    padding: 12px 24px;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 8px;
    font-weight: bolder;
}

.rightsp h4 {
    font-size: 22px;
    margin: 11px 0;
}

.rightsp p {
    font-size: 13px;
    margin: 14px 0;
    line-height: 23px;
}

#middlep {
    position: relative;
    margin: 26px 0px 15px;
    font-weight: bold;
}

p::after {
    content: '';
    position: absolute;
    height: 5px;
    margin-left: 10px;
    border-bottom: 1px solid #e0e6ed;
    top: 4px;
    width: 50%;
}

.secondpart li {
    display: inline-block;
    font-size: 13px;
    margin: 0 20px 5px 0px;
    font-weight: 500;
}

li:before {
    content: '';
    background: url('https://cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg') no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 10px;
}

/* START THIRD PART */

.module {
    float: left;
    width: 298px;
    height: 613px;
    background-color: white;
    padding: 32px;
    margin-bottom: 32px;
    margin-right: 32px;
}

.module h4 {
    font-size: 22px;
    margin: 11px 0;
    text-align: center;
}

.module p {
    font-size: 14px;
    margin: 14px 0;
    line-height: 23px;
}

#bordertop {
    text-align: center;
    font-weight: 600;
    padding: 26px 0px 0;
    margin: 26px 0px 15px;
    border-top: 1px solid #E0E6ED;
}

.module img {
    width: 233px;
    height: 150px;
}

#modulefix {
    margin-right: 0;
}

.module li {
    display: block;
    font-weight: 500;
    font-size: 13px;
    margin: 0px 20px 5px 0px;
    line-height: 20px;
}

.module .orangebutton {
    margin-left: 50px;
}
